.container {
  position: relative;
  display: flex;
  margin: 3rem;
  justify-content: center;
  .main_wrapper {
    .graph_wrapper {
      .select_wrapper {
        display: flex;
        margin-block: 1.5rem;
        justify-content: flex-end;
      }
      .button_wrapper {
        display: flex;
        margin-block: 1.5rem;
        justify-content: center;
      }
    }
  }
}
