// Colors

$base-color: #FFFFFF;
$base-color-light: #FFFFFF;
$base-color-dark: #28281B;

$color-primary: #FFFFFF;
$color-primary-light: #FFFFFF;
$color-primary-dark: #000000;

$color-secondary: #FFFFFF;
$color-secondary-light: #FFFFFF;
$color-secondary-dark: #28281B;


$border-dark: rgba($base-color, 0.88);


// Sizes

$nav-height: 10%;

// z-index

